body {
    text-align: center;
    background-image: url("http://vignette1.wikia.nocookie.net/sonic/images/2/2c/Windy_Hill_Background_(Sonic_Lost_World_Japanese_Website).jpg/revision/latest?cb=20151229175150");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
